<section>
  <div class="container">
    <div class="table-responsive">
      <table
        class="table table-striped table-hover table-borderless table-primary align-middle"
      >
        <thead class="table-light">
          <caption class="fw-bold">
            Customers
          </caption>
          <tr>
            <th>ID</th>
            <th>
              Name
              <input
                type="text"
                class="form-control"
                placeholder="filter by name"
                [(ngModel)]="nameFilter"
              />
            </th>
            <th>
              Amount
              <div class="min-max">
                <input
                  type="number"
                  class="form-control"
                  placeholder="min"
                  [(ngModel)]="minAmount"
                />
                <input
                  type="number"
                  class="form-control"
                  placeholder="max"
                  [(ngModel)]="maxAmount"
                />
              </div>
            </th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          @for (customer of customers | filterByName:nameFilter |
          filterByAmount:minAmount:maxAmount ; track $index) {
          <tr
            class="table-primary"
            (click)="getCustomerTransations(customer.id)"
          >
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.amount }}</td>
          </tr>
          }
        </tbody>
        <tfoot></tfoot>
      </table>
    </div>
    <app-transactions
      [lineChartData]="lineChartData"
      [lineChartLabels]="lineChartLabels"
    ></app-transactions>
  </div>
</section>
